# Node modules
node_modules/

# Environment variables
.env*
.env/

# Logs
*.log

# VSCode workspace settings
.vscode/

# OS-specific files
.DS_Store       # macOS
Thumbs.db        # Windows

# Nodemon temporary files (optional)
*.pid
*.seed

# npm debug log
npm-debug.log*


main.sql
main varchar.sql
tech stack.sql
/stock